:root {
    --main-font: 'Comic Neue', cursive;
    --gray-bg-color: #ddd;
    --white-bg-color: #fff;
    --black-color: #000;
  }
  
  * {
    box-sizing: border-box;
    font-family: var(--main-font);
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navigation nav{
    display: flex;
    flex-direction: row;
    border: 4px solid var(--black-color);
    justify-content: space-between;
    gap: 10px;
    
  }
  .contactlist {
    display: flex;
    flex-direction: column;
  }
  .contactlist li {
   
  }
  .date{
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
  }
  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    padding-right: 20px; 
  }
  .divider{
    width: 2px;
    background-color: var(--black-color);
    height: 20px;
  }
  .navigation ul li{
    list-style-type: none;
  }
  a{
    text-decoration: none;
    color: var(--black-color);
  
  }
  h1 {
    display: none;
    text-align: center;
    padding-top: 2%;
  }
  
  h2 {
    text-align: center;
    font-size: 50px;
  }
  
  .book_container {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    border: 4px solid var(--black-color);
    width: 50%;
  }
  .footer-container {
    border: 4px solid var(--black-color);
    display:flex;
    margin-top: 452px;
    padding-left: 20px;
  }
  
  .book_list_container button {
    position: relative;
    float: right;
    height: 8%;
    margin-top: 5px;
    border-bottom: 4px outset var(--black-color);
    border-right: 4px outset var(--black-color);
    background-color: var(--white-bg-color);
    border-left: 2px solid var(--black-color);
    border-top: 2px solid var(--black-color);
  }
  
  .remove-button {
    background-color: var(--white-bg-color);
    margin-right: 2%;
  }
  
  .input_container {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  
  .input_title,
  .input_author {
    border: 4px outset var(--black-color);
    font-weight: bolder;
    height: 40px;
  }
  
  .input_title::placeholder {
    font-style: normal;
    font-weight: bolder;
    color: var(--black-color);
  }
  
  .input_author::placeholder {
    font-style: normal;
    font-weight: bolder;
    color: var(--black-color);
  }
  
  .button_container {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    justify-items: center;
   
  }
  
  .seperator {
    background-color: var(--black-color);
    border: 1px solid var(--black-color);
    margin-top: 20px;
    width: 60%;
    margin-left: 20%;
  }
  
  .button_container button {
    border-bottom: 4px outset var(--black-color);
    border-right: 4px outset var(--black-color);
    background-color: var(--white-bg-color);
    border-left: 2px solid var(--black-color);
    border-top: 2px solid var(--black-color);
    height: 40px;
    padding: 15px;
   
  }
  